<div class="grid">
  <div class="item" style="margin: 2em;">
    <ion-item slot="fixed">
  <ion-avatar slot="start" aria-hidden="true" >
    <img alt="UserImg" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>

  <ion-label><h1>AppCycle</h1><p><h2>User</h2></ion-label>
  <ion-label><h1>Guthaben aktuell:22,45€</h1></ion-label>
  <ion-icon name="stats-chart-sharp" ></ion-icon>
  
    <ion-text color="primary" slot="end">12300 Punkte</ion-text>
  
</ion-item>

  </div>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-toolbar>
      <ion-title size="xlarge">Die AppCycle Highscore</ion-title>
    </ion-toolbar>
    <ion-list>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>King</ion-label>
        <ion-text color="primary" slot="end">1.000.000 Punkte</ion-text>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Fooie</ion-label>
        <ion-text color="primary" slot="end">256.944 Punkte</ion-text>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Queen</ion-label>
        <ion-text color="primary" slot="end">100.001 Punkte</ion-text>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Joker777</ion-label>
        <ion-text color="primary" slot="end">100.000 Punkte</ion-text>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>BetterMatter</ion-label>
        <ion-text color="primary" slot="end">99.900 Punkte</ion-text>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Recyclererer</ion-label>
        <ion-text color="primary" slot="end">10.001 Punkte</ion-text>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>HomeLessButSmartPhone1</ion-label>
        <ion-text color="primary" slot="end">10.000 Punkte</ion-text>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>FavouritenMostWanted</ion-label>
        <ion-text color="primary" slot="end">1.466 Punkte</ion-text>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>HomeLessButSmartPhone2</ion-label>
        <ion-text color="primary" slot="end">1.000 Punkte</ion-text>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Huey</ion-label>
        <ion-text color="primary" slot="end">250 Punkte</ion-text>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>OTK-MostWanted</ion-label>
        <ion-text color="primary" slot="end">100 Punkte</ion-text>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>SammelKoenig</ion-label>
        <ion-text color="primary" slot="end">99 Punkte</ion-text>
      </ion-item>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Fooie</ion-label>
        <ion-text color="primary" slot="end">19 Punkte</ion-text>
      </ion-item>
    </ion-list>
  </ion-content>